<!DOCTYPE html>
<html lang="pt-br" xmlns:th="http://thymeleaf.org" xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout">
<head>
    <meta charset="UTF-8">
    <title>Cadastrar evento</title>
    <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet"/>
    <link type="text/css" rel="stylesheet" href="materialize/css/materialize.min.css" media="screen,projection"/>
    <meta name="viewport" content="width=device-width, initial-scale=1.0"/>
</head>
<body>

<div class="container">
    <h1 class="center-align" style="font-weight: bold; cursor: pointer">Cadastrar Evento</h1>
    <div class="row center-align" style="display: flex; gap: 30px">
        <div class="col s6">
            <a href="/cadastrarEvento" class="waves-effect waves-light btn">
                <i class="material-icons left">format_list_bulleted</i>Cadastrar um evento
            </a>
        </div>
        <div class="col s6">
            <a href="/eventos" class="waves-effect waves-light btn">
                <i class="material-icons left">format_list_bulleted</i>Lista de Eventos
            </a>
        </div>
    </div>

    <div th:include="msgValidacao :: msg"></div>

    <form method="post">
        <div class="input-field">
            <input type="text" value="" name="nome" id="nome">
            <label for="nome">Nome</label>
        </div>
        <div class="row">
            <div class="input-field col s6">
                <input type="text" value="" name="local" id="local">
                <label for="local">Local</label>
            </div>
            <div class="input-field col s3">
                <input type="date" value="" name="data" id="data">
                <label for="data">Data</label>
            </div>
            <div class="input-field col s3">
                <input type="text" value="" name="horario" id="horario">
                <label for="horario">Horário</label>
            </div>
        </div>
        <button type="submit" class="waves-effect waves-light btn">Salvar</button>
    </form>
</div>

<script type="text/javascript" src="materialize/js/materialize.min.js"></script>

<script>
    const cadas = document.querySelector('h1');
    cadas.addEventListener('click', () => {
        window.location.href = '/cadastrarEvento'
    })

</script>
</body>
</html>
